body,
body * {
    margin: 0 10%;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    padding: 20px;
}

main.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: column;
    gap: 2px;
    height: 500px;
    grid-column: span 1;
}

.container.item5,
.container.item6 {
    grid-column: span 2;
}

h1 {
    background-color: red;
    text-transform: capitalize;
    font-weight: 100;
}

footer.container {
    height: 30px;
    font-size: 20px;
    color: aquamarine;
}